<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaphar.mapper.PfUsersMapper">
  <resultMap id="BaseResultMap" type="com.shaphar.domain.PfUsers">
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="PARTY_ID" jdbcType="DECIMAL" property="partyId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="LOGIN_NICKNAME" jdbcType="VARCHAR" property="loginNickname" />
    <result column="LOGIN_MD5_PASSWORD" jdbcType="VARCHAR" property="loginMd5Password" />
    <result column="LOGIN_INITPWD" jdbcType="VARCHAR" property="loginInitpwd" />
    <result column="ADMIN" jdbcType="VARCHAR" property="admin" />
    <result column="IS_GROUP" jdbcType="VARCHAR" property="isGroup" />
    <result column="USER_STATUS" jdbcType="VARCHAR" property="userStatus" />
    <result column="EXPIRE_DATE" jdbcType="DATE" property="expireDate" />
    <result column="LINK_MAN" jdbcType="VARCHAR" property="linkMan" />
    <result column="TELE" jdbcType="VARCHAR" property="tele" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
  </resultMap>

  <select id="listUser"  resultMap="BaseResultMap">
    select
    *
    from PF_USERS
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    *
    from PF_USERS
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>

</mapper>